.all{
    height: 100vh;
    background-color: rgb(219, 219, 219);
    text-align: center;
    
}
.h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 28px;
padding-top: 40px;
margin-bottom: 30px;
}
.span{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
max-width: 80px;
    
    margin: 0% auto;
}

.button{
  background-color: rgb(126, 106, 212);
    border: 1px solid rgb(126, 106, 212);  
    border-radius: 15px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    font-weight: 500;
    color: rgb(63, 63, 63);
    margin: 35px;
}
.button:hover{
    font-family: 'Anton', sans-serif;
    transform: translateY(5px);
    background-color: rgb(118, 99, 199);
    border: 1px solid rgb(118, 99, 199);
}
.input{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(165, 165, 165);
    border: 1px solid rgb(165, 165, 165) ;
    border-radius: 15px;
}

